.overlay {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  z-index: 900;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  to {
    opacity: 1;
  }
}


.header {
    background: var(--gray-800);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra no Header */
  }
  
  .header img {
    height: 6rem;
  }
  
  .menuButton {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    outline: none;
  }
  
  .menuButton:focus,
  .menuButton:focus-visible,
  .menuButton:active {
    outline: none;
    box-shadow: none;
  }
  
  .sidebar {
    position: fixed;
    top: 6rem;
    right: -20rem;
    width: 17.5rem;
    height: 100%;
    background-color: var(--gray-900);
    color: var(--white);
    transition: 0.3s;
    padding: 20px;
    z-index: 1000;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2); /* Sombra na Sidebar */
  }
  
  .sidebar.open {
    right: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 20px 0;
  }
  
  .sidebar a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .sidebar a:hover {
    color: var(--green-300);
  }